#section1 {
  #skill-text {
    -webkit-animation: blinking 1s infinite;
    animation: blinking 1s infinite;
    padding-right: 5px;

    &::after {
      width: 2px;
      height: 100%;
      background-color: #000;
      display: inline-block;
      content: " ";
    }

    @-webkit-keyframes blinking {
      from, to {
        border-right: 2px solid transparent;
      }

      50% {
        border-right: 2px solid #000;
      }
    }

    @keyframes blinking {
      from, to {
        border-right: 2px solid transparent;
      }

      50% {
        border-right: 2px solid #000;
      }
    }
  }

  .arrow {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    top: 0px;
    transform: rotate(135deg);
    -webkit-animation: movement 2s infinite;
    animation: movement 2s infinite;

    @-webkit-keyframes movement {
      0%, 20%, 50%, 80%, 100% {
        top: 0px;
      }

      40% {
        top: 20px;
      }

      60% {
        top: 10px;
      }
    }

    @keyframes movement {
      0%, 20%, 50%, 80%, 100% {
        top: 0px;
      }

      40% {
        top: 20px;
      }

      60% {
        top: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #section1 {
    .arrow {
      width: 25px;
      height: 25px;
    }

    h1.display-1 {
      font-size: 1.7rem;
    }

    h1.display-2 {
      font-size: 1.5rem;
    }
  }
}
