@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700&display=swap');

body, html {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.fp-slidesNav {
  text-align: center;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: $primary!important;
}

#fp-nav ul li .fp-tooltip {
  color: $primary;
}
